{% extends "layouts/master.html.twig" %}


{% block titulo %}
    Animales
{% endblock %}

{% block cabecera %}
    {{parent()}}
    <h1>{{ title }}</h1>

{% endblock %}

{% block contenido %}

    {#
            <h1>{{ title }}</h1>
        
            <h2>Tu nombre es
                {{nombre}}
                {{apellidos}}
            </h2>
            #}

    {# crear variables #}{% set perro = 'Pastor Aleman' %}<h4>
    {{perro}}
    </h4>

    {#arrays#}
    <pre>
        {{ dump(animales) }}
    </pre>
    {{animales[2]}}

    {#arrays asociativos#}
    <pre>
        {{ dump(aves) }}
    </pre>
    {{aves.tipo ~ ' - ' ~ aves.color  }}


    {#condicionales#}
        {% if aves.color == 'gris' %}
            <h2>
        Una paloma gris
        </h2>

    {% else %}
        <h2>
            No hay palomas gris a la vista
        </h2>

    {% endif %}

    {#bucles#}
    {% if animales|length >= 0 %}
        <ul>
            {% for animal in animales %}
                <li>{{animal}}</li>
            {% endfor %}
        </ul>
    {% endif %}

    {% for i in 0..10 %}
        {{i}}<br>
    {% endfor %}


    {% if aves.color starts with 'g' %}
    
        <h1>Empieza por g </h1>
    
    {% endif %}

     {% if aves.color ends with 's' %}
    
        <h1>Termina en  s </h1>
    
    {% endif %}

    <hr>
   {{ include ("partials/funciones.html.twig", {'nombre':'Victoria '}) }}

{% endblock %}
