<h1>Funciones</h1>
{#funciones predefinidas #}
{{min(9,11,6,99,2) }}
<br>
{{random(animales)}}
<br>
{{max(9,11,6,99,2) }}
<br>

{% for i in range(0,100, 5) %}
    {{i}}
    <br>
{% endfor %}

<h3>
    {{nombre}}
</h3>

<h1>
    Filtros
</h1>
{{animales|length}}

{% set email = 'email@emnail.com' %}
{{email|trim|upper|lower}}

<h1>Extensiones personalizadas </h1>
{{
    mutiplicar(2)|raw
}}
{{ 12|multiplicar|raw }}